__pycache__/
*.py[cod]
*$py.class
*.egg-info
.pytest_cache
.ipynb_checkpoints

thumbs.db
.DS_Store
.idea

# Video binary outputs (too large for HTTP push)
my-video/out/*.mp4
my-video/out/*.mov
my-video/public/*.mp4
my-video/public/*.mov
